<!DOCTYPE html>
<html>
<head>
  <title>OmnioauthSample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if user_signed_in? %>
    Signed in as <%= current_user.name %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<% end %>


<%= yield %>

</body>
</html>
